<nav class="navbar navbar-expand-sm navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="150" height="150" class="d-inline-block " alt="">
<strong> Salon Koiffure</strong>      </a>    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/client/login">Client</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" routerLink="/employe/login">Employe</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" routerLink="/manager/login">Manager</a> </li>
      </ul><ul class="navbar-nav flex-row d-none d-md-flex">
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">A propos</a></li></ul>
        
    </div>
  </nav>
