<div *ngIf="user"><h1>Bonjour manager {{user.name}}</h1></div>

<div class="container">
    <div class="row"><p class="h2"><a class="btn btn-primary" href="" routerLink="/manager/stat">Voir les statistiques</a></p>
    </div>
    <div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" (click)="showIns=!showIns"> <h5>Ajouter un nouveau service</h5></button>
      <div *ngIf="showIns">  <form (submit)="insertService()">
            <div class="form-group">
                <label for="nomService">Nom:</label>
                <input class="form-control" type="text" id="nomService" name="nomService" [(ngModel)]="nomService">
            </div>
            <div class="form-group">
                <label for="descriService">Description:</label>
                <input class="form-control" type="text" id="descriService" name="descriService" [(ngModel)]="descriService">
            </div>
            <div class="form-group">
                <label for="prixService">Prix (en Ar):</label>
                <input class="form-control" type="text" id="prixService" name="prixService" [(ngModel)]="prixService">
            </div>
            <div class="form-group">
                <label for="dureeService">Durée (en mn):</label>
                <input class="form-control" type="text" id="dureeService" name="dureeService" [(ngModel)]="dureeService">
            </div>
            <div class="form-group">
                <label for="commissionService">Commission(en %):</label>
                <input class="form-control" type="text" id="commissionService" name="commissionService" [(ngModel)]="commissionService">
            </div>
            <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
            <button class="btn btn-primary" type="submit">Insérer le service</button>
        </form></div>
    </div>
    
    <div class="col-md-6">
        <div><button class="btn btn-primary" (click)="showDep=!showDep"><h5>Ajouter une nouvelle dépense du salon</h5></button></div>
        <div *ngIf="showDep">
            <form (submit)="insertDepense()">
                <div class="form-group">
                    <label for="titre">Titre:</label>
                    <input class="form-control" type="text" id="titre" name="titre" [(ngModel)]="titre">
                </div>
                <div class="form-group">
                    <label for="encaisseur">Encaisseur:</label>
                    <input class="form-control" type="text" id="encaisseur" name="encaisseur" [(ngModel)]="encaisseur">
                </div><div class="form-group">
                    <label for="montant">Montant(en Ar):</label>
                    <input class="form-control" type="text" id="montant" name="montant" [(ngModel)]="montant">
                </div>
                <div class="form-group">
                    <label for="daty">Date:</label>
                    <input class="form-control" type="datetime-local" id="daty" name="daty" [min]="daty" [(ngModel)]="daty">
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <select id="type" name="type" [(ngModel)]="type">
                        <option value="Salaire">Salaire</option>
                        <option value="Loyer">Loyer</option>
                        <option value="Achat pièce">Achat pièce</option>
                        <option value="Autres dépenses">Autres dépenses</option>
                    </select>
                </div>
                <div *ngIf="successDep" class="success-message">{{ successDep }}</div>
                <button class="btn btn-primary" type="submit">Insérer la dépense</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col md-6"> 
        <p class="h4">Liste des services proposés</p>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>        </div>
  <div class="list-group">
    <div href="#" class="list-group-item list-group-item-action "  *ngFor="let service of services">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ service.nomService }}</h5>
        <small>{{ service.dureeService }}mn</small>
      </div>
      <p class="mb-1">{{service.descriService}}</p>
      <small>{{ service.prixService }}Ar</small>
    </div>
  
  </div></div>
  <div class="col-md-6"></div>
  </div>
</div>
