/* .form-container {
    max-width: 400px; 
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  label {
    min-width: 120px; 
    margin-right: 5px; 
  }

  .container {
    display: flex;
  }
  
  .left-column {
    flex: 1; /* La première colonne prend autant d'espace que possible */
    /* margin-right: 20px; Ajoutez une marge entre les deux colonnes si nécessaire */
  /* } */
  
  /* .right-column { */
    /* flex: 1; La deuxième colonne prend autant d'espace que possible */
  /* } */
   