<div *ngIf="user"><h1>Bonjour employé {{user.name}}</h1></div>

<button class="btn btn-primary"(click)="showRdv=!showRdv"> Lister les rendez-vous <i class="fa fa-list" aria-hidden="true"></i></button>

<div *ngIf="showRdv">
  <h3>Sélectionnez et validez le service que vous venez d'effectuer</h3>
  <h4 *ngIf="jobDone">Service effectué et validé</h4>
    <form (submit)="jobdone()" >
    <table border="1" width="850">
        <thead>
            <th>Client</th>
            <th>Date et heures</th>
            <th>Services</th>
            <th>Message</th>
            <th><button *ngIf="selectedService" class="btn btn-primary" type="submit">Effectuer cette tâche</button></th>
        </thead>
        <tr *ngFor="let rdv of rdvEmploye">
            <td>{{ rdv.client.name }}</td>
            <td>{{ rdv.date }}</td>
            <td>
                <ul>
                  <li *ngFor="let service of rdv.service">
                    <input *ngIf="!service.etat" type="radio" name="idServ"  (click)="clickCheck(service,rdv)">
                    {{ service.nomService }}
                  </li>
                </ul>
              </td>
            <td>{{ rdv.message }}</td>
        </tr>
    </table>
  </form>
</div>

<div><button class="btn btn-primary" (click)="tache=!tache"> Suivi de vos tâches effectuées <i class="fa fa-tasks" aria-hidden="true"></i>
</button></div>
<div *ngIf="tache">
  <table border="1" width="850">
    <thead>
        <th>Client</th>
        <th>Date et heures</th>
        <th>Service effectué</th>
        <th>Commission touché</th>
    </thead>
    <tr *ngFor="let tache of tachesdone">
      <td>{{ tache.client.name }}</td>
      <td>{{ tache.daty }}</td>
      <td>{{ tache.service.nomService }}</td>
      <td>{{ commission(tache) }}</td>
    </tr>
</table>
</div>
