


<div class="content" role="main">
  <app-navigation-bar></app-navigation-bar>
  <router-outlet>
   

  </router-outlet>
  </div>
<footer class="bg-light text-center text-lg-start footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <strong> RAKOTONARIVO DEALITIANA KALOINA HERY ETU001450 && RAFIDIARISON SAFIDY NY AINA MANANTSIALONINA HARRYSON ETU001425 </strong> </div>
  <!-- Copyright -->
</footer>