
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de la fenêtre visible */
  }
  
  .content {
    flex: 1; /* Le contenu prendra l'espace disponible */
  }
  
  .footer {
    flex-shrink: 0; /* Empêcher le footer de rétrécir */
  }