<!-- <div style="width: 100%; height: 400px;" *ngIf="dataLoaded">
    <canvas id="ok" baseChart width="400" height="300"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div> -->
  <!-- {{...alldata}} -->
<a href="" class="btn btn-danger"  routerLink="/manager/accueil">Revenir <i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
  <div class="row">
  <div style="width: 100%; height: 350px; "  *ngIf="dataLoaded">
    <button class="btn btn-primary" mat-button mat-raised-button color="primary" (click)="randomize()">
        <i class="fa fa-line-chart" aria-hidden="true" *ngIf="isBar"></i>
        <i class="fa fa-bar-chart" aria-hidden="true" *ngIf="isLine"></i>      </button>
  <canvas
  class="chart"
  baseChart
  [data]="barChartDataRDV"
  [options]="barChartOptions"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
  
</canvas></div></div>
<hr>
<div class="row">
    <p class="h5">Nombre de rendez-vous journalier du Salon SK</p>
<div   *ngIf="dataLoaded">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>Au date du</th>
            <th>Nombre de rendez-vous</th>
        </thead>
        <tr *ngFor="let oneData of alldata.daily">
            <td>
                {{dating(oneData.date)}}
            </td>
            <td>
                {{oneData.totalRdv}}
            </td>
        </tr>
    </table>
</div></div>
<div class="row">
    <div style="width: 100%; height: 350px; "  *ngIf="dataLoaded">
        <button class="btn btn-primary" mat-button mat-raised-button color="primary" (click)="randomize()">
            <i class="fa fa-line-chart" aria-hidden="true" *ngIf="isBar"></i>
            <i class="fa fa-bar-chart" aria-hidden="true" *ngIf="isLine"></i>          </button>
      <canvas
      class="chart"
      baseChart
      [data]="barChartDataCA"
      [options]="barChartOptions"
      [type]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
      
    </canvas></div>
</div>
<hr>
<div class="row">
    <p class="h5">Chiffre d'affaire Journalier du Salon SK</p>
    <div   *ngIf="dataLoaded">
        <table class="table table-bordered">
            <thead>
                <th>Au date du</th>
                <th>Chiffre d'affaire journalier</th>
            </thead>
            <tr *ngFor="let oneData of allCA.daily">
                <td>
                    {{oneData._id}}
                </td>
                <td>
                    {{oneData.totalMontant}}Ar
                </td>
            </tr>
        </table>
    </div></div>

    <div class="row">
        <div style="width: 100%; height: 350px; "  *ngIf="dataLoaded">
            <button class="btn btn-primary" mat-button mat-raised-button color="primary" (click)="randomize()">
                <i class="fa fa-line-chart" aria-hidden="true" *ngIf="isBar"></i>
                <i class="fa fa-bar-chart" aria-hidden="true" *ngIf="isLine"></i>
              </button>
          <canvas
          class="chart"
          baseChart
          [data]="barChartDatabenef"
          [options]="barChartOptions"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
          
        </canvas></div>
    </div>
