<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="h2">Connectez-vous en tant que Employé</p>
      <form (submit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Email</label>
          <input type="text" class="form-control"  id="username" name="username" [(ngModel)]="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password"  name="password" [(ngModel)]="password"> 
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
      <hr>
     
    </div>
    <div class="col-md-6 vertical-line">
      <img src="assets/images/logo.png" class="img-fluid">
    </div>
  </div>
 
</div>
  