.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    /* Styles pour centrer le contenu de chargement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.paye {
    color: red;
  }