<div class="container">

<div *ngIf="user"><h1>Bonjour {{user.name}}</h1>



<!-- Navbar-->
<nav *ngIf="false" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>

      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
        />
        <span class="input-group-text border-0 d-none d-lg-flex"
          ><i class="fas fa-search"></i
        ></span>
      </form>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" href="#">
          <span><i class="fas fa-home fa-lg"></i></span>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-flag fa-lg"></i></span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-video fa-lg"></i></span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-shopping-bag fa-lg"></i></span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-users fa-lg"></i></span>
          <span class="badge rounded-pill badge-notification bg-danger">2</span>
        </a>
      </li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img
            src="https://mdbootstrap.com/img/new/avatars/1.webp"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">John</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="#">
          <span><i class="fas fa-plus-circle fa-lg"></i></span>
        </a>
      </li>
      
      <button  [matMenuTriggerFor]="menu">   <img
        src="https://mdbootstrap.com/img/new/avatars/1.webp"
        class="rounded-circle"
        height="22"
        alt=""
        loading="lazy"
      /> <strong class="d-none d-sm-block ms-1">{{user.name}}</strong></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Voir mon profil</button>
  <button mat-menu-item type="button" class="btn btn-danger">Me deconnecter</button>
</mat-menu>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->







<button (click)="showOptions=!showOptions"> Prendre un Rendez-vous</button>

<div *ngIf="showOptions">
  
  <label for="date">Choisissez une date et une heure :</label>
  <input type="datetime-local" id="date" name="date" [min]="date_rdv" [(ngModel)]="date_rdv">
  <br>
  <label for="message">Entrer un petit mot(*):</label> <textarea name="message" id="" [(ngModel)]="message"></textarea>
    <table border="1">
        <thead>
            <th>Service</th>
            <th>Durée(mn)</th>
            <th>Prix</th>
        </thead>
        <tr *ngFor="let service of services">
          <td>{{ service.nomService }}</td>
        <td>{{ service.dureeService }}</td>
        <td>{{ service.prixService }}</td>
        <td><input type="checkbox" name="selectedServices" id="{{service._id}}" (change)="toggleServiceSelection(service._id,service)">
        </tr>
    </table>
    <button class="btn btn-primary" *ngIf="selectedServices.length > 0 && message.trim().length > 0" (click)="validerSelection()">Valider</button>

    <div class="modal" tabindex="-1" role="dialog" *ngIf="showSuccessModal">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Succès</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSuccessModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Vos sélections ont été validées avec succès !
              </div>
          </div>
      </div>
  </div>
  
  <!-- Écran de chargement -->
  <div *ngIf="showLoading" class="loading-overlay">
Patientez s'il vous plaît...  </div>
</div>

<div>
  <button (click)="showHistory=!showHistory"> Voir les historiques de mes rdv</button>
  <div *ngIf="showHistory">
    <div *ngIf="payDone">
      <h3>Payement effectué!</h3>
    </div>
    <table border="1" width="800">
      <thead>
          <th>Date</th>
          <th>Message</th>
          <th>Service</th>
      </thead>
      <tr *ngFor="let onehis of history">

        <td>{{ dating(onehis.date) }}</td>
      <td>{{ onehis.message }}</td>
      <td>
        <ul  *ngFor="let oneserv of onehis.service">
          <li>{{ oneserv.nomService }}: {{ oneserv.dureeService }}mn</li>  
        </ul>
      </td>
        <td>
          <form *ngIf="!onehis.etat" (submit)="insertPayement(sumToPay(onehis),onehis._id)" (click)="payDone=!payDone">
              <button type="submit" class="btn btn-success">Payer les {{ sumToPay(onehis) }}Ar</button>
          </form>
          <button *ngIf="onehis.etat" disabled="disabled" class="btn btn-info">Déjà payé</button>
        </td>
        <!-- <td [ngClass]="{'paye': onehis.etat}">{{ onehis.etat ? 'Payé' : '' }}</td> -->
      <!-- <td><input type="checkbox" name="selectedServices" id="{{onehis._id}}" (change)="toggleServiceSelection(onehis._id,service)"> -->
      </tr>
  </table>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-6"> 
    <p class="h4">Liste des services proposés par le salon SK</p>
<div class="list-group">
  <div href="#" class="list-group-item list-group-item-action "  *ngFor="let service of services">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ service.nomService }}</h5>
      <small>{{ service.dureeService }}mn</small>
    </div>
    <p class="mb-1">{{service.descriService}}</p>
    <small>{{ service.prixService }}Ar</small>
  </div>

</div></div>
</div>