<div class="container">
    
    <div class="row">
        <div class="col-md-6 text-center">
        <div class="row">
      <div class="col">
        <div class="bogossy">"Plongez dans un monde de beauté et d'élégance au <span style="color: rgb(12, 12, 12); font-weight: bolder;"> Salon Koiffure</span>. 
            Révélez votre style unique et laissez notre équipe d'experts prendre soin de vous. Prenez rendez-vous dès aujourd'hui pour une expérience inoubliable."</div>
      </div></div>
      <div class="row">
      <div class="col text-center">
      <img src="assets/images/cool.png" class="img-fluid">
        </div></div></div>
      <div class="col-md-6 vertical-line">
        
        <img src="assets/images/h1.png" class="img-fluid">
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <img src="assets/images/lissage.jpeg" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/soin.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">"Dans notre salon, nous vous offrons bien plus qu'un simple rendez-vous.
                    Avec des équipements à la pointe de la technologie et une équipe de professionnels passionnés, nous sommes prêts à vous offrir
                     une expérience de beauté incomparable. Venez découvrir un espace où le confort, l'efficacité et le bien-être sont au rendez-vous. 
                     <strong>Votre satisfaction est notre priorité.</strong>"


                  </p>
                </div>
              </div>
            <!-- <img src="assets/images/soin.jpeg" class="img-fluid"> -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/ah.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">
                        "Découvrez notre service de soin des cheveux au Salon Koiffure, où chaque mèche est choyée avec attention. Grâce à notre expertise et à nos produits de qualité, vos 
                        cheveux retrouveront toute
                         leur vitalité et leur éclat naturel. Offrez-leur le traitement qu'ils méritent et laissez-nous vous sublimer avec des résultats époustouflants."</p>
                    </div>
                  </div>                </div>
    </div>
   
  </div>
  <style type="text/css" scoped>
  .bogossy {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px;font-style:italic;letter-spacing:0.2em;line-height:1.3em;color:black;background-color:rgb(240,230,140);padding:1.5em;
  }
  </style>
  

  
  